html, body {
    background-color:#f1f1f1;
}
div {

}
/*header styles start*/
.header {
    width:100%;
    height:auto;
    background-color:rgba(0,0,0,0.1);
    font-family:"Franklin Gothic Book";
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    font-size:3.5em;
    text-align:center;
    box-shadow:none;
}

.header a {
    text-align:center;
    font-family:"New York";
    font-size:inherit;
    color:rgba(0,0,0,0.4);
    text-decoration: none;
}
a:hover {
    color:rgba(255,255,255,0.7);
}
a:active {
    color:rgba(255,255,255,1);
}


/*header style end*/

/*Description style start*/
.description {
    width:70%;
    height:100%;
    background-color:rgba(255,255,255,0.7);
    margin-top:3%;
    padding:2%;
    font-family:"Calibri",serif;
    margin-left:auto;
    margin-right:auto;
    font-size:2em;
    box-shadow: 0px 0px 15px black;
}
/*Description style end*/

.icon {
    text-align:center;
    display:inline-block;
    width:20%;
    height:auto;
    margin:2%;
    border: 2px solid #000000;
    text-align:center;
    padding:0%;
    background: #e1e1e1;
    box-shadow: 0px 0px 15px black;
}

/* ANIMATION CODE */
.hvr-shutter-in-horizontal-red {
    width: 100%;
    height: 100%; 
    display: inline-block;
    font-size: 1em;
    color:rgba(0,0,0,0.7); 
    text-decoration: blink;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    background:tomato;
    transition-property: color;
    transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal-blue {
    width: 100%;
    height: 100%; 
    display: inline-block;
    font-size: 1em;
    color:rgba(0,0,0,0.7); 
    text-decoration: blink;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    background: blueviolet;
    transition-property: color;
    transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal-green {
    width: 100%;
    height: 100%; 
    display: inline-block;
    font-size: 1em;
    color:rgba(0,0,0,0.7); 
    text-decoration: blink;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    background: olivedrab;
    transition-property: color;
    transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal-red:before,.hvr-shutter-in-horizontal-blue:before,.hvr-shutter-in-horizontal-green:before {
    width: 100%;
    height: 100%;
    content: ""; 	
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e1e1e1;
    transform: scaleX(1);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; 
}

.hvr-shutter-in-horizontal-red:hover,.hvr-shutter-in-horizontal-blue:hover,.hvr-shutter-in-horizontal-green:hover, 
.hvr-shutter-in-horizontal-red:active,.hvr-shutter-in-horizontal-blue:active,.hvr-shutter-in-horizontal-green:active{
    color: white;
}
.hvr-shutter-in-horizontal-blue:hover:before, .hvr-shutter-in-horizontal-blue:focus:before, .hvr-shutter-in-horizontal-blue:active:before,
.hvr-shutter-in-horizontal-red:hover:before, .hvr-shutter-in-horizontal-red:focus:before, .hvr-shutter-in-horizontal-red:active:before,
.hvr-shutter-in-horizontal-green:hover:before, .hvr-shutter-in-horizontal-green:focus:before, .hvr-shutter-in-horizontal-green:active:before{
    transform: scaleX(0);
}

.hvr-grow {
    padding:2%;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-duration: 0.5s;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active{
    transform: scale(1.1);
}

/* ANIMATION CODE */
.anim 
{
    width:100%;
    height:10px;
    background: red;
    border-radius: 7px;
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

@-webkit-keyframes myfirst {
    0%   {background:red; left:0px; top:0px;}
    25%  {background:yellow; left:200px; top:0px;}
    50%  {background:blue; left:200px; top:200px;}
    75%  {background:green; left:0px; top:200px;}
    100% {background:red; left:0px; top:0px;}
}

.reg_form {
    color:#fffff1;
    background-color: rgba(0,0,0,0.8);
    padding:1%;
    margin-top:3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width:60%;
    height:100%;
    box-shadow: 0px 0px 15px black;
}
.reg_form ul li {
    display:block;
    margin-top:3%;
    margin-left:10%;
    font-size:1.5em;
}
label {
    font-weight: bold;
    font-family: Calibri;
}
input, textarea {
    border-radius:7px;
    padding:1.3%;
}
